body {
    padding-top: 7em;
    border: 0px;
    text-align: center;
    background-color: #0cff;
}

#calculato-all {
    background-color: #0cff;
}

#topthreenum {
    padding-bottom: 10px;
}

#topsixnum {
    padding-top: 10px;
}

#topninenum {
    padding-top: 10px;
}

#toptagnum {
    padding-top: 10px;
}